*{
  padding: 0em;
  margin: 0;
}
html{
  font-family: Georgia, "Times New Roman", serif;/* con grazia */
  margin: auto;
}
/*-------------------------------- HEADER --------------------------------*/
#header{
  padding: 1.0em 0em 1em 0em;
  text-align: left;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#header h1{
  font-size: 2em;
  text-align: center;
}
/*-------------------------------- NAV --------------------------------*/
#navbar{
  display: none;
}
.btn-menu{
  display: none;
}
/*-------------------------------- CONTENUTO --------------------------------*/
#content p{
  margin-top: 1em;
  margin-bottom: 1em;
}
/*-------------------------------- FOOTER --------------------------------*/
#footer{
  border-top: 1px solid #ddd;
  padding-top: 1em;
  font-size: 0.7em;
  border-bottom: 1px solid #ddd;
}

.login{
  display: none;
}
